
body  {
   /* Change my background color.*/
  background: skyblue;
}

.content-wrapper { /* Center on page, set width */
}
header h1{
  /* make bigger and color, Change our font family to a sans serif. */
  font-size: 45px;
  font-family: cursive;
  font-style: normal;
  text-align: left;
  color: lightgoldenrodyellow;
  float: none;
  background-color: salmon;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 35px;
  
}

nav.main-nav {
  /* Change background color, remove bullets, border on each individual nav element, float the links, center our content within the links, width on links, font color, font change family*/
  display: inline; 
  font-family: sans-serif;
  text-align: left;
  float:center;
}

li {
  display: inline;
  background-color: lightgreen;
  border: 1px solid darkcyan;
  padding: 5px;
  
}
aside {
  /*clear float, background color, float, font color */
  border: 10px;
  line-height: 30px;
  
}

aside ul {
  /* clear both, links? */
  float: left;
  margin: 0;
  padding: 10p;
  width: 100px;
 
}
a:hover {
  background-color: mediumaquamarine;
  padding: inherit;
}

article {
  
  /* background-color, float to the right?, font size*/
  align-content: center;
  background-color: skyblue;
  float: center;
}
aside{
  padding-top:50px;
  float: inherit;
}

#img1 { 
  border: 10px solid salmon;
  display:inherit;
  float: center;
  
}

#img2 {
  border: 10px solid salmon;
  float: center;
}

p{
  text-align: left;
  font-family: sans-serif;
  font-size: 12pt;
  color: darkblue;
  padding: 15px;
  line-height: 25px;
  float: center;
}

figure { 
  /* we want to center that using margin:auto, size of font */
}
footer img{
  /* float the images, create links, center-links */
  align-content: center;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}